 /*sections*/
*  section p {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-style: initial;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

  

  body {
    
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("https://thumb.photo-ac.com/4b/4bd9b45be334dc11f4e07ccc4a03c4de_t.jpeg");
    
  }

  /*header*/
  header {
    padding: 20px 35px;
    background-color: #39a6b2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
  


  header h1 {
    font-weight: bold;
    font-size: 50px; 
    color: black; 
    margin: 0;
    display: inline;
  }


  header a {
    text-decoration: underline; 
    color: black;
  
  }

  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  
  header nav ul li {
    display: inline;
  }


  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px; 
    
  }
  
/*header end here*/
  
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*size image*/
#profile {
  width: 300px;
  height: 300px;
  
}

/*size image*/
#horiseon {
  width: 70%;
  /* height: 500px */
  }

 /*text block over image*/
 .container {
  position: relative;
  text-align: center;
  width: 40%
 } 

.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  
}


/*border*/
#profile {
border: 10px;
border-color: #39a6b2;
border-style: solid;

}
 
/*border*/ 
#horiseon {
  border: 10px;
  border-color:#39a6b2;
  border-style: solid;
  
}

/*contact*/
#informations {
  display: flex;
  flex-direction: row;

}

/*contact*/
#informations li {
  margin-right: 30px;
}



  /*media*/
@media only screen and (max-width: 800px){
 header {
  flex-direction: column;
 } 
}
   
  /*media*/
@media only screen and (max-width:600px){
  #profile {
    width: 80%; 
    height: auto; 
  }
}



